/* ======= google font =======*/
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');




:root{
    /* ======= color =======*/
    /* Blue - hsl(217, 85%, 74%) */
    /* Purple - hsl(245, 54%, 74%) */
    /* Teal - hsl(181, 47%, 49%) */
    /* Yellow - hsl(65, 60%, 70%) */
    /* Green - hsl(162, 60%, 65%) */
    /* Red - hsl(356, 67%, 70%) */
    /* Pink - hsl(330, 73%, 72%) */

    --hue: 217;
    --sat: 85%;
    --light: 74%;

    --primary-color: hsl(var(--hue) var(--sat) var(--light));
    --white-color: hsl(var(--hue) 45% 98%);
    --dark-color: hsl(var(--hue) 26% 12%);

    --color-01: hsl(var(--hue), var(--sat), var(--light));
    --color-02: hsl(var(--hue) 45% 98%);
    --color-03: hsl(var(--hue) 26% 12%);
    --color-04: hsl(var(--hue) 0% 62%);
    --color-05: hsl(var(--hue) 26% 12%);

    --body-color: hsl(250 26% 12%);
    --hover-color: hsl(var(--hue) var(--sat) calc(var(--light) - 7%));

    /* ============= Background Colors ============= */
    --bottom-nav-bg: hsl(var(--hue) 32% 25% / .65);
    --card-bg: linear-gradient(120deg, hsl(var(--hue) 54% 74% / .15), hsl(var(--hue) 54% 74% / .05));
    --model-backdrop-bg: hsl(var(--hue) 54% 74% / .1);
    --footer-bg: linear-gradient(120deg, hsl(var(--hue) 54% 74% / .15), hsl(var(--hue) 54% 74% / .1));

    --scrollbar-color: hsl(var(--hue) 25% 20%);
    --scrollbar-thumb: hsl(var(--hue) var(--sat) var(--light));
    --scrollbar-thumb-hover: hsl(var(--hue) var(--sat) calc(var(--light) - 7%));

    /* ============= Font & type ============= */
    --body-font-family: "Cinzel Decorative", serif;

    /* ============= Font Size ============= */
    --h1-font-size: 2.85rem;
    --h2-font-size: 2.25rem;
    --h3-font-size: 1.97rem;
    --h4-font-size: 1.43rem;
    --h5-font-size: 1.13rem;

    --xlarge-font-size: 1.48rem;
    --large-font-size: 1.23rem;
    --medium-font-size: 1.18rem;
    --base-font-size: 1.1rem;
    --small-font-size: 1.07rem;
    --tiny-font-size: .98rem;

    /* ============= Font Weight ============= */
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;

    /* ============= Layering order(Z - Index) ============= */
    --z-minus: -1;
    --z-base: 0;
    --z-low: 1;
    --z-high: 10;
    --z-content: 100;
    --z-tooltip: 1000;
    --z-fixed: 1100;
    --z-overlay: 1110;
    --z-modal: 1990;
    --z-max: 9999;
}

/* ======= reset css =======*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--body-font-family);
}

ul, li{
    list-style: none;
}

a{
    color: var(--color-04);
    text-decoration: none;
    cursor: pointer;
}

/* ======= global style =======*/
html{
    scroll-behavior: smooth;
}

body{
    color: var(--color-04);
    background: var(--body-color);
    transition: .3s;
}

/* ======= Buttons =======*/
.tk-main-btn{
    width: fit-content;
    padding: 14px 30px;
    border-radius: 35px;
    cursor: pointer;
    transition: .3s;
}

.tk-main-btn:hover{
    color: var(--white-color);
    background: var(--hover-color);
    border: 2px solid var(--hover-color);
}

.tk-main-btn a{
    color: var(--color-01);
    font-size: var(--small-font-size);
    font-weight: 500;
    transition: .3s;
}

.tk-main-btn:hover a{
    color: var(--white-color);
}

.border-btn{
    border: 2px solid var(--color-01);
}

/* ======= container =======*/
.tk-container{
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

/* ======= Header Style =======*/

.tk-header{
    z-index: var(--z-fixed);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 0;
    transition: .3s ease;
}

.tk-header .inner{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tk-logo a{
    color: var(--color-01);
    font-size: 2.6rem;
    font-weight: var(--font-weight-medium);
    letter-spacing: -3px;
    transition: .5s;
}

.tk-logo a:hover{
    color: var(--hover-color);
}

.header-btns{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 25px;
}

.lets-chat-icon{
    color: var(--color-01);
    font-size: 1.8rem;
    cursor: pointer;
    transition: .3s;
    display: none;
}

.lets-chat-icon:hover{
    color: var(--hover-color);
}

/* ======= Site Theme Button =======*/

.theme-btn{
    position: relative;
    display: flex;
    justify-content: end;
    align-items: center;
    width: 27px;
    cursor: pointer;
}

.theme-btn i{
    position: absolute;
    color: var(--color-01);
    font-size: 1.7rem;
    cursor: pointer;
    transition: .3s;
}

.theme-btn i:hover{
    color: var(--hover-color);
    transform: rotate(-15deg);
}

.theme-btn .moon-icon{
    display: none;
}

/* ======= Bottom Navigation Menu =======*/

.bottom-nav-container{
    position: relative;
}

.bottom-nav{
    z-index: var(--z-fixed);
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 50px;
}

.bottom-nav-inner{
    position: relative;
}

.bottom-nav .menu{
    background: var(--bottom-nav-bg);
    backdrop-filter: blur(10px);
    padding: 16px 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 25px;
    border-bottom: 1px solid hsl(var(--hue) 45% 98% / .1);
    border-left: 1px solid hsl(var(--hue) 45% 98% / .1);
    border-radius: 50px;
    display: none;
}

.bottom-nav .menu li a{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bottom-nav .menu li a i{
    color: var(--color-02);
    font-size: 1.4rem;
    padding: 10px;
    border-radius: 50%;
    transition: .3s;
}

.bottom-nav .menu li:hover a i{
    color: var(--white-color);
    background: var(--hover-color);
}

.bottom-nav .menu .current i{
    color: var(--dark-color);
    background: var(--primary-color);
}

.bottom-nav .menu li a span{
    z-index: var(--z-tooltip);
    position: absolute;
    background: var(--primary-color);
    font-size: var(--tiny-font-size);
    font-weight: var(--font-weight-medium);
    color: var(--dark-color);
    padding: 3px 10px;
    transform: translateY(-53px);
    border-radius: 5px;
    pointer-events: none;
    opacity: 0;
}

.bottom-nav .menu li:hover a span{
    opacity: 1;
}

.bottom-nav .menu li a span:before{
    content: "";
    z-index: var(--z-minus);
    position: absolute;
    background: var(--primary-color);
    width: 10px;
    height: 10px;
    left: 50%;
    bottom: -8px;
    transform: rotate(45deg) translateX(-50%);
}

.bottom-nav .menu-hide-btn{
    z-index: var(--z-fixed);
    position: absolute;
    top: -5px;
    right: 0;
    color: var(--dark-color);
    font-size: 1.52rem;
    background: var(--primary-color);
    padding: 2px;
    border-radius: 50%;
    cursor: pointer;
    transition: .3s ease;
    pointer-events: none;
    opacity: 0;
}

.bottom-nav .menu-hide-btn:hover{
    color: var(--white-color);
    background: var(--hover-color);
}

.menu-show-btn{
    z-index: var(--z-fixed);
    position: fixed;
    background: var(--bottom-nav-bg);
    backdrop-filter: blur(10px);
    width: 85px;
    height: 50px;
    border-bottom: 1px solid hsl(var(--hue) 45% 98% / .1);
    border-left: 1px solid hsl(var(--hue) 45% 98% / .1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 5px;
    translate: -50% 0;
}